html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #AEC5EB;
    color: #685044;
}

.container {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 30px auto;
}

h1 {
    font-size: 45px;
    font-family: 'Ultra', serif;
    margin: 0;
    text-align: center;
    display: block;
}

.field {
    display: flex;
    column-gap: 10px;
}

input[type="text"] {
    background-color: #3A405A;
    font-size: 25px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;    
    width: 100%;
    color: #ffffff;
}

input[type="text"]::placeholder {
    color: #F9DEC9;
}

button {
    background-color: #F9DEC9;
    color: #260F0F;
    font-size: 25px;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    width: 70px;
}

button:hover {
    cursor: pointer;
    background-color: #685044;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
}

li {
    list-style: none;
    background-color: #3A405A;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;  
    color: #ffffff 
}